/*.game - основной контейнер игры, занимающий всю ширину и высоту экрана.*/
.game {
    width: 100vw; /* Ширина игрового поля */
    height: 100vh; /* Высота игрового поля */

    --square-size: 180px; /* Размер квадрата */
    --road-width: 40vw; /* Ширина дороги */
}

/*В анимации @keyframes scroll определен только один ключевой кадр (100%),
 который изменяет позицию фона. Это достигается путем изменения свойства
 background-position от "center 0" до "center var(--square-size)",
 что создает иллюзию движения фона вверх.*/
@keyframes scroll {
    100% {
        background-position: 0 var(--square-size);
    }
}
